############################################
# CACHES E ARTEFATOS
############################################
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/
.cache/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

############################################
# AMBIENTES VITUAIS
############################################
.venv/
venv/
ENV/
env/

############################################
# IDE
############################################
.vscode/
.idea/
*.code-workspace

############################################
# OS
############################################
.DS_Store
Thumbs.db

############################################
# OUTPUTS / LOGS / TUNING
############################################
outputs/
tuning_logs/
**/tuning_logs/
**/tuner/
**/trial_*/
**/_misc/
*.log
LATEST.txt
TREE_clean.txt

############################################
# MODELS / SCALERS 
############################################
models/
*.keras
!best_model.keras
*.h5
*.joblib
*.pkl

############################################
# RESULTADOS DE TREINAMENTOS / PREDIÇÕES
############################################
*.png
*.jpg
*.jpeg
*.svg
*.pdf
metricas_*.csv
predicoes_*.csv
compare_*.csv
compare_*.txt

############################################
# DATASETS
############################################
# raw: sempre fora do git
data/raw/
data/raw/**

# adsorption FULL: fora do git (vai via Drive)
data/processed/adsorption/dataset_FULL.npz
data/processed/adsorption/dataset_FULL.csv
data/processed/adsorption/dataset_batch_*.csv # arquivos intermediários, não necessários para o reprodutibilidade
!data/processed/nu_uvec/dataset_nu_Uvec_analitico.csv # dataset pequeno, analítico, para rede de nu_Uvec

############################################
# ARQUIVOS VELHOS E LIXO
############################################
archive/
_trash/
*.zip

############################################
# PRA PODER COMITAR PASTAS SEM NADA
############################################
!.gitkeep
